# virtual env folder
rest_api/venv

# remove python cache
__pycache__
ota/__pycache__
ota/google_drive_api/__pycache__
rest_api/__pycache__
rest_api/actions/__pycache__
rest_api/configs/__pycache__
rest_api/utils/__pycache__

# remove rest api loggers
rest_api/utils/log*

#remove db api
rest_api/instance/db.sqlite

# remove build folder
ecu_simulation/BatteryModule/obj
ecu_simulation/DoorsModule/obj
ecu_simulation/EngineModule/obj
ecu_simulation/HVACModule/obj
mcu/obj
